[submodule "turtlebots/mainline"]
	path = turtlebots/mainline
	url = https://github.com/AlanJAS/turtleart.git
[submodule "turtlebots/turtle-extras"]
	path = turtlebots/turtle-extras
	url = https://github.com/AlanJAS/activity-turtleart-extras.git
[submodule "turtlebots/nxt_plugin"]
	path = turtlebots/nxt_plugin
	url = https://github.com/AlanJAS/nxt.git
[submodule "turtlebots/WeDoMore"]
	path = turtlebots/WeDoMore
	url = https://github.com/AlanJAS/WeDoMore.git
[submodule "turtlebots/arduino"]
	path = turtlebots/arduino
	url = https://github.com/AlanJAS/arduino.git
[submodule "turtlebots/pyusb"]
	path = turtlebots/pyusb
	url = https://github.com/pyusb/pyusb.git
[submodule "turtlebots/rodi"]
	path = turtlebots/rodi
	url = https://github.com/AlanJAS/rodi-plugin-turtlebots.git
[submodule "turtlebots/mark"]
	path = turtlebots/mark
	url = https://github.com/AlanJAS/mark.git
